.accordion {
  &__tab {
    position: relative;
    border-bottom: $border-width solid $light-blue;
    &:first-child {
      border-top: $border-width solid $light-blue;
    }
  }
  &__group {
    position: relative;
    cursor: if($enable-pointer-cursor-for-buttons, pointer, null);
    span {
      position: absolute;
      top: calc(50% - 16px);
      right: 0;
      width: 32px;
      height: 32px;
      border-width: 2px !important;
      transform: rotate(0);
      @include transition(0.5s $ease-out-cubic);
      svg {
        @include transition(0.5s $ease-out-cubic);
      }
    }
    .active & {
      span {
        transform: rotate(-90deg);
        svg {
          fill: $orange;
        }
      }
    }
  }
  &__content {
    display: none;
  }
  &__title, &__text {
    color: $primary;
  }
}
