.page-aside {
  position: fixed;
  display: flex;
  align-items: baseline;
  left: 0;
  right: 0;
  height: 100%;
  max-width: 100%;
  background-color: transparent;
  overflow: hidden;
  border-right: $border-width solid rgba($white, 0.2);
  border-top: $border-width solid rgba($white, 0.2);
  @include transition(0.5s $ease-out-cubic, background-color 0.3s linear);
  z-index: $zindex-fixed;
  visibility: hidden;
  opacity: 0;
  @include media-breakpoint-up(md) {
    top: 50px;
    bottom: 0;
    right: initial;
    border-top: $border-width solid transparent;
    .loaded & {
      visibility: visible;
      opacity: 1;
    }
  }
  ul {
    position: relative;
    width: 100%;
    display: flex;
    border-bottom: $border-width solid rgba($white, 0.2);
    @include media-breakpoint-up(md) {
      display: block;
      border-bottom: 0;
    }
    li.dropdown,
    li.menu-item-has-children {
      @include transition(0.3s $ease-out-cubic);
      & > a {
        &:before {
          content: "";
          position: absolute;
          right: $spacer;
          top: calc(50% - 5px);
          width: 8px;
          height: 10px;
          transform: rotate(0deg);
          @include transition(0.15s $ease-out-cubic);
          background: url("../img/arrow.svg") no-repeat;
          opacity: 0.6;
          @include media-breakpoint-up(md) {
            transform: rotate(90deg);
          }
        }
        @include transition(0.5s linear);
      }
      ul {
        display: none;
        padding-left: 0;
        list-style: none;
        li:before {
          content: none;
        }
        ul {
          span {
            margin-left: $spacer;
          }
        }
      }
      li {
        a {
          min-width: 150px;
        }
      }
    }
    & > li {
      padding: 0 $spacer/2;
      height: 60px;
      @include transition(0.5s $ease-out-cubic, border 0.3s 0.5s linear);
      @include media-breakpoint-up(md) {
        display: flex;
        padding: 0;
        height: 70px;
        min-width: 50px;
        max-width: 50px;
        border-bottom: $border-width solid rgba($white, 0.2);
      }
      @include media-breakpoint-up(xl) {
        min-width: 70px;
        max-width: 70px;
      }

      & > a {
        position: relative;
        height: 100%;
        display: inline-flex;
        align-items: center;
        @include media-breakpoint-up(md) {
          min-width: 250px;
        }
        @include media-breakpoint-up(lg) {
          min-width: 300px;
        }
      }
      figure {
        width: 50px;
        text-align: center;
        margin-bottom: 0;
        @include media-breakpoint-up(xl) {
          width: 70px;
        }
        img {
          max-width: 35px;
        }
      }
      span {
        display: inline-block;
        padding-right: $spacer * 2;
        opacity: 0;
        @include transition(opacity 0.3s linear);
      }
      & > img {
        display: inline-block;
        max-width: 25px;
        max-height: 25px;
        margin: $spacer/4 0;
      }
    }
  }
  & > ul > li {
    & > a {
      &:before {
        content: none !important;
        @include media-breakpoint-up(md) {
          content: "" !important;
        }
      }
      span {
        display: none;
        @include media-breakpoint-up(md) {
          display: inline-block;
        }
      }
    }
  }
  .brand {
    display: none;
    @include transition(0.3s $ease-out-cubic);
  }
  .show-menu & {
    background-color: rgba($body-bg, 1);
    visibility: visible;
    opacity: 1;
    @include media-breakpoint-up(md) {
      background-color: rgba($body-bg, 0.9);
    }
    ul {
      li {
        @include media-breakpoint-up(md) {
          display: flex;
          align-items: baseline;
          min-width: 250px;
        }
        @include media-breakpoint-up(lg) {
          min-width: 300px;
        }
        &:hover {
          @include media-breakpoint-up(md) {
            min-width: 600px;
          }
          & > a:before {
            transform: rotate(90deg);
            @include media-breakpoint-up(md) {
              transform: rotate(0deg);
            }
          }
          & > ul {
            position: absolute;
            top: 100%;
            left: 0;
            margin-top: $spacer/2;
            display: block;
            @include media-breakpoint-up(md) {
              position: relative;
              top: 0;
              padding-left: $spacer * 2;
              margin-top: 0;
            }
            li {
              max-width: 100%;
              align-items: initial;
              height: auto;
              padding: 0;
              padding-bottom: $spacer;
              @include media-breakpoint-up(md) {
                height: 50px;
              }
              li {
                figure {
                  width: 0;
                }
              }
            }
          }
        }
      }
      & > li {
        border-bottom: $border-width solid rgba($white, 0);
        @include transition(0.5s $ease-out-cubic, border 0.3s linear);
        span {
          opacity: 1;
        }
      }
    }
    @include media-breakpoint-up(md) {
      .brand {
        display: inline;
        margin: 0 $spacer * 2;
      }
    }
  }
  &-shop {
    @extend .page-aside;
    ul {
      li.dropdown,
      li.menu-item-has-children {
        display: block;
        @include transition(0.3s $ease-out-cubic);
        ul {
          display: none;
          padding-left: 0;
          list-style: none;
          @include media-breakpoint-up(md) {
            display: block;
          }
          ul {
            @include transition(0.3s $ease-out-cubic);
            opacity: 0;
          }
        }
        & > a {
          &:before {
            right: 0;
            transform: rotate(0deg) !important;
            @include media-breakpoint-up(xl) {
              right: $spacer/2;
            }
          }
        }
        li {
          @include media-breakpoint-up(md) {
            display: flex;
            padding: 0;
            height: 70px;
            min-width: 50px;
            max-width: 50px;
          }
          @include media-breakpoint-up(xl) {
            min-width: 70px;
            max-width: 70px;
          }
          span {
            padding-right: 0;
            opacity: 1;
          }
          li {
            height: auto;
            figure {
              width: 50px;
            }
          }
          a {
            @include media-breakpoint-up(md) {
              display: inline-flex;
              flex-direction: column;
              justify-content: center;
              min-width: auto;
            }
          }
        }
      }
      & > li {
        @include transition(0.5s $ease-out-cubic, border 0.3s linear);
        span {
          padding-right: 0;
          opacity: 1;
        }
      }
    }
    .show-menu & {
      background-color: rgba($body-bg, 1);
      visibility: visible;
      opacity: 1;
      ul {
        li {
          @include media-breakpoint-up(md) {
            display: block;
            min-width: 250px;
          }
          @include media-breakpoint-up(lg) {
            min-width: 300px;
            align-items: initial;
          }
          &:hover {
            min-width: auto;
            @include media-breakpoint-up(md) {
              min-width: 300px;
            }
            & > ul {
              display: block;
              opacity: 1;
              @include media-breakpoint-up(md) {
                position: relative;
                padding-left: 0;
              }
              li {
                @include media-breakpoint-up(md) {
                  display: flex;
                  align-items: initial;
                  padding: 0;
                  height: 70px;
                  min-width: 50px;
                  max-width: 50px;
                }
                @include media-breakpoint-up(xl) {
                  min-width: 300px;
                  max-width: 70px;
                }
                ul {
                  li {
                    max-width: 100%;
                    height: auto;
                    padding: 0;
                    padding-bottom: $spacer;
                    a {
                      figure {
                        width: auto;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        & > li {
          li li {
            a {
              flex-direction: row !important;
              padding-left: $spacer;
            }
          }
          border-bottom: $border-width solid rgba($white, 0);
          @include transition(0.5s $ease-out-cubic, border 0.3s linear);
          span {
            opacity: 1;
          }
        }
      }
    }
  }
}
