.site-footer {
  position: relative;
  overflow: hidden;
  .icon-footer {
    fill: $secondary;
    max-width: 35px;
    max-height: 30px;
  }
  .menu, .lang {
    &-item {
      padding: $nav-link-padding-y $nav-link-padding-x;
    }
  }
}
