.site-header {
  height: 100vh;
  background: $body-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  .admin-bar & {
    margin-top: 32px; // wp default page header
  }
  @include media-breakpoint-up(lg) {
    position: absolute;
    width: 100%;
    top: 0;
    height: auto;
    background: rgba($black, 0.75);
    z-index: $zindex-fixed;
  }
  .site-navigation {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
  }
  .logo {
    position: absolute;
    top: -30px;
    width: 100%;
    background-color: $body-bg;
    border-radius: $border-radius;
  }
  .menu {
    position: relative;
    width: 250px;
    display: inline-block;
    &-center {
      visibility: visible;
      transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
      opacity: 1;

    }
    &-main-container {
      margin-top: -10rem;
      font-size: 0;
      text-align: center;
      @include media-breakpoint-up(lg) {
        margin-top: auto;
      }
    }
    &-item {
      display: block;
      font-size: $font-size-base;
      @include media-breakpoint-up(lg) {
        display: inline-block;
      }
      a {
        display: inline-block;
        text-transform: uppercase;
        padding: 20px 0;
        white-space: nowrap;
      }
    }
    &-left, &-right {
      visibility: hidden;
      opacity: 0;
      transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
      @include media-breakpoint-up(lg) {
        display: inline-block;
        visibility: visible;
        opacity: 1;
      }
      a {
        padding: $nav-link-padding-y;
      }
    }
  }
}

.menu-item.lang {
  color: #bababa;
}
.menu-item.lang a:hover {
  color: #fff;
}

.burger-container {
  width: 60px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  margin: auto;
  cursor: pointer;
  .admin-bar & {
    top: 32px; // wp default page header
  }
}

.burger-bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: #fff;
  transition: all 0s 0.3s;
  &::before, &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background: #fff;
  }
  &::before {
    bottom: 7px;
    transition: bottom 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1),
      transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  &::after {
    top: 7px;
    transition: top 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1),
      transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.burger-container.is-animate {
  & ~ .site-navigation {
    .menu {
      &-center {
        visibility: hidden;
        opacity: 0;
      }
      &-left, &-right {
        display: block;
        visibility: visible;
        opacity: 1;
      }
    }
    .scroll-down {
      visibility: hidden;
      opacity: 0;
    }
  }
  .burger-bar {
    background: rgba(255, 255, 255, 0);
    &::before, &::after {
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom 0.3s cubic-bezier(0.23, 1, 0.32, 1),
        transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }
    &::after {
      top: 0;
      bottom: initial;
      transform: rotate(45deg);
    }
  }
}

// Scroll

.scroll-down {
  position: relative;
  text-align: center;
  padding-bottom: 40px;
  font-size: $font-size-sm;
  transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  visibility: visible;
  opacity: 1;
}

.icon-scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 30px;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 25px;
  transition: all .3s ease .1s
}
.icon-scroll:before {
  content: '';
  width: 4px;
  height: 5px;
  background: #fff;
  margin-left: -2px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  position: absolute;
  left: 50%;
  cursor: pointer
}

@keyframes scroll {
  0% {
      opacity: 1;
      transform: translateY(0)
  }
  50% {
      opacity: 1;
      transform: translateY(7px)
  }
}
