#wpadminbar {
  visibility: hidden; /* clear */
}
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 46px;
  background-size: 100% 100%;
  @include transition(0.5s linear, 0s max-height);
  z-index: $zindex-fixed;
  @include media-breakpoint-up(md) {
    max-height: initial;
    overflow: visible;
  }
  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: -$spacer * 2;
    visibility: hidden;
    opacity: 0;
    @include transition(0.3s $ease-out-cubic);
    ul:not(.lang-switcher) {
      margin-bottom: 80% !important;
      @include media-breakpoint-up(sm) {
        margin-bottom: auto !important;
      }
      a {
        color: $secondary;
        @include fluid($vw-1600, $vw-2560, $h2-font-size, $h1-font-size * 1.5);
        @include fluid($vw-576, $vw-1200, $h4-font-size, $h2-font-size);
        line-height: $line-height-lg;
        letter-spacing: 0;
        font-weight: 700;
        @include hover-focus() {
          letter-spacing: 2px;
        }
        @include media-breakpoint-up(sm) {
          line-height: $line-height-base;
        }
      }
    }
    .show-menu & {
      margin-top: 0;
      visibility: visible;
      opacity: 1;
      transition-delay: 0.3s;
    }
    .lang-switcher {
      .current-lang {
        border-bottom: $border-width solid $secondary;
      }
      a {
        font-size: $font-size-base!important;
        display: inline-block;
        padding: 0 $nav-link-padding-y;
      }
    }
  }
  &.show-menu, &.show-menu ~ .page-footer {
    max-height: initial;
    overflow: visible;
    @include media-breakpoint-down(sm) {
      max-height: 160px;
    }
    .burger {
      z-index: 1;
      &__wrapper {
        position: static;
        visibility: visible;
        opacity: 1;
        transition-delay: 0.35s;
        @include media-breakpoint-up(sm) {
          &:before {
            content: "";
            position: absolute;
            display: block;
            width: 100px;
            height: 100px;
            background-color: $white;
            border-radius: 0;
            transform-origin: right;
            transform: scale(30);
          }
        }
      }
      span {
        &:first-child {
          top: 23px;
          transition-delay: 0.2s;
          transform: rotate(45deg);
        }
        &:last-child {
          bottom: 20px;
          transition-delay: 0.2s;
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          transform: rotate(0) scale(0);
        }
      }
    }
    
  }
  &.is-scroll {
   .brand {
     visibility: hidden;
     opacity: 0;
   }
  }
  .burger {
    position: relative;
    display: inline-block;
    height: 45px;
    width: 45px;
    background-color: transparent;
    border: none;
    &__wrapper {
      position: relative;
      visibility: hidden;
      opacity: 0;      
      @include transition(0.15s ease);
      @include media-breakpoint-up(sm) {
        visibility: visible;
        opacity: 1;
      }
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 45px;
        height: 45px;
        background-color: $white;
        border-radius: 50%;
        @include transition(0.5s $ease-out-cubic);
      }
    }
    span {
      position: absolute;
      top: 50%;
      left: calc(50% - 13px);
      display: inline-block;
      width: 26px;
      height: 2px;
      background-color: $secondary;
      @include transition(0.3s $ease-out-cubic);
      transform: rotate(0);
      &:first-child {
        top: 15px;
      }
      &:last-child {
        top: initial;
        bottom: 13px;
      }
    }
  } 
  .brand {
    display: inline-block;
    max-width: 45px;
    z-index: 1;
    visibility: visible;
    opacity: 1;
    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 45px;
      height: 45px;
      background-color: $white;
      border-radius: 50%;
    }
  }
}