// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system
//
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e5e5e5 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #979797 !default;
$gray-600: #7c7c7c !default;
$gray-700: #495057 !default;
$gray-800: #363636 !default;
$gray-900: #0d0d0d !default;
$black: #000 !default;

$red: #fb0707 !default;
// $yellow: #ffd42e !default;
$orange: #e8713a  !default;
$pink: #fbdbcb  !default;
// $green: #00b67a !default;
$blue: #2291e8 !default;
$light-blue: #d3e9fa !default;

$primary: #333; 
$secondary: $blue;
$light: $gray-200 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "light-blue": $light-blue,
    "dark-light": $gray-500,
    "pink": $pink,
    "orange": $orange,
  ),
  $theme-colors
);
$body-bg: $white;
$body-color: $primary !default;
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:                                true !default;
$enable-rounded:                              true !default;
$enable-shadows:                              true !default;
$enable-gradients:                            false !default;
$enable-transitions:                          true !default;
$enable-prefers-reduced-motion-media-query:   true !default;
$enable-hover-media-query:                    false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:                         true !default;
$enable-pointer-cursor-for-buttons:           true !default;
$enable-print-styles:                         true !default;
$enable-responsive-font-sizes:                false !default;
$enable-validation-icons:                     true !default;
$enable-deprecation-messages:                 true !default;

$spacer: 1rem !default;
$spacers: () !default;

// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    6: ($spacer * 5)
  ),
  $spacers
);

$vw-320: rem-calc(320) !default;
$vw-576: rem-calc(576) !default;
$vw-768: rem-calc(768) !default;
$vw-992: rem-calc(992) !default;
$vw-1200: rem-calc(1200) !default;
$vw-1600: rem-calc(1600) !default;
$vw-1920: rem-calc(1920) !default;
$vw-2560: rem-calc(2560) !default;
// Spacing
// Links
//
$link-color: $secondary !default;
$link-decoration: none !default;
$link-hover-color: darken($secondary, 10%) !default;
$link-hover-decoration: none !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1400px,
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  2xl: 1360px,
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$grid-row-columns: 6 !default;
// Components
//
$line-height-base: 1.45 !default;
$line-height-lg: 1.7 !default;
$line-height-sm: 1.2 !default;

$border-width: 2px !default;
$border-color: $secondary !default;

$border-radius: rem-calc(10px) !default;
$border-radius-lg: rem-calc(60px) !default;
$border-radius-sm: rem-calc(5px) !default;

$box-shadow-sm: 0 5px 10px rgba(#b3cde0, 0.35)!default;
$box-shadow: 0 20px 35px -15px #b3cde0 !default;
$box-shadow-lg: 0px 15px 50px 5px #b3cde0 !default;
// Typography
//
$font-family-sans-serif: "Halvar Breit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-secondary: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;

$font-size-base: 1rem !default;
$font-size-lg: $font-size-base * 1.375 !default;
$font-size-sm: $font-size-base * 0.75 !default;

$h1-font-size: $font-size-base * 2.625 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.25 !default;
$h5-font-size: $font-size-base * 1 !default;
$h6-font-size: $font-size-base * 0.875 !default;

$headings-font-family: $font-family-sans-serif !default;
$headings-margin-bottom: $spacer !default;
$headings-font-weight: 700 !default;
$headings-color: $secondary !default;
$headings-line-height: $line-height-base !default;

$mark-padding: 0.125em !default;
$mark-bg: $light-blue !default;

// Buttons + Forms
//
$input-btn-padding-y: 0.85rem !default;
$input-btn-padding-x: 1.75rem !default;
$input-btn-font-family: $font-family-sans-serif !default;
$input-btn-font-size: $font-size-base !default;
$input-btn-line-height: $line-height-base !default;

$input-btn-focus-width: 0.2rem !default;
$input-btn-focus-color: lighten($blue, 39%) !default;
$input-btn-focus-box-shadow: 0 20px 35px -15px $input-btn-focus-color !default;

$input-btn-padding-y-sm: 0.25rem !default;
$input-btn-padding-x-sm: 0.5rem !default;
$input-btn-font-size-sm: $font-size-sm !default;
$input-btn-line-height-sm: $line-height-sm !default;

$input-btn-padding-y-lg: 1rem !default;
$input-btn-padding-x-lg: 2.5rem !default;
$input-btn-font-size-lg: $font-size-lg !default;
$input-btn-line-height-lg: $line-height-lg !default;

$input-btn-border-width: $border-width / 2 !default;

$label-margin-bottom: 0.5rem !default;
$input-padding-y: $input-btn-padding-y !default;
$input-padding-x: $input-btn-padding-x !default;
$input-font-family: $input-btn-font-family !default;
$input-font-size: $input-btn-font-size !default;

$input-line-height: $input-btn-line-height !default;

$input-padding-y-sm: $input-btn-padding-y-sm !default;
$input-padding-x-sm: $input-btn-padding-x-sm !default;
$input-font-size-sm: $input-btn-font-size-sm !default;
$input-line-height-sm: $input-btn-line-height-sm !default;

$input-padding-y-lg: $input-btn-padding-y-lg !default;
$input-padding-x-lg: $input-btn-padding-x-lg !default;
$input-font-size-lg: $input-btn-font-size-lg !default;
$input-line-height-lg: $input-btn-line-height-lg !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius !default;
$btn-border-radius-lg: $border-radius-lg !default;
$btn-border-radius-sm: $border-radius-sm !default;

$btn-font-weight: 700 !default; 
$input-bg: $white !default; 
$input-disabled-bg: $gray-200 !default;

$input-color: $body-color !default;
$input-border-color: rgba($white, 0.2) !default;
$input-border-width: $input-btn-border-width !default;
$input-box-shadow: none !default;

$input-border-radius: $border-radius !default;
$input-border-radius-lg: $border-radius-lg !default;
$input-border-radius-sm: $border-radius-sm !default;

$input-focus-bg: $input-bg !default;
$input-focus-color: $input-color !default;
$input-focus-width: $input-btn-focus-width !default;
$input-focus-box-shadow: none !default;

$input-placeholder-color: $light-blue !default;
$input-plaintext-color: $body-color !default;

$input-height-border: $input-border-width * 2 !default;

$input-height: add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false)) !default;
$input-height-sm: add($input-line-height-sm * 1em, add($input-padding-y-sm * 2, $input-height-border, false)) !default;
$input-height-lg: add($input-line-height-lg * 1em, add($input-padding-y-lg * 2, $input-height-border, false)) !default;

// Navs
//
$nav-link-padding-y: 0.75rem !default;
$nav-link-padding-x: 1.25rem !default;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: 0.75rem !default;
$table-cell-padding-sm: 0.3rem !default;

$table-color: $body-color !default;
$table-bg: null !default;
$table-accent-bg: $gray-200 !default;

@import "node_modules/bootstrap/scss/variables";
